<div style="cursor:pointer;">
  <a target="_blank" href="{{packager_url}}">Package</a>
  </br>
  <a>Images</a>
  </br>
  <a>Test</a>
  </br>
  <a target="_blank" href="{{web_preview_url}}">Web Preview</a>
</div>
