<div style="cursor:pointer;">
  <a target="_blank" href="{{packager_url}}">Package</a>
  </br>
  <hr>
  <strong>Package size:</strong>
  </br>
  {{package_size}}
  </br>
  <hr>
  </br>
  <a target="_blank" href="{{web_preview_url}}">Web Preview</a>
  </br>
</div>
