<html>
  <head>
  {{wp_head}}
  </head>
  <style>
    body, html, iframe {
      display: block;
      min-width: 100%;
      min-height: 100%;
      height: 100%;
      width: 100%;
      margin: 0%;
      padding:0%;
    }
  </style>
  <body class="{{body_class}}">
    <iframe frameBorder="no" src="{{html_file}}"></iframe>
    {{wp_footer}}
  </body>

</html>
