<div>
  <strong>Status:</strong>
  </br>
  {{post_status|raw}}
  </br>
  <hr>
  <strong>Number of pages:</strong>
  </br>
  {{custom}}
  </br>
  <hr>
  <strong>Last modified:</strong>
  <br>
  {{last_updated}}
  </br>
</div>
